extends ../layouts/main.pug

block content
  .auth
    .container
      div.tab-content#pills-tabContent
        div.tab-pane.fade.show.active#pills-login(role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0") 
          h1 Зміна паролю
          form(action='/auth/password' method='post')
            div.mb-3
              label(for="password", class="form-label") Введіть новий пароль:
              input(type="password", class="form-control", id="password", name='password', required='required')
              div.form-text(data-error='Невірно задан пароль')
            input(type='hidden', name='_csrf', value=csrf)
            input(type='hidden', name='userId', value=userId)
            input(type='hidden', name='token', value=token)
            button.btn.btn-primary(type='submit', style='float: left') Оновити пароль
        if passError
          each err in passError
            p.reg-error= passError