footer.footer
  p.copyright © Copyright 2023
  script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
  script(src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
  script(src="/js/app.js")