extends ./layouts/main.pug

block content
  .page__404
    h1.not-found Сторінка не знайдена
    img(src="img/404.png", alt="404")
    p Вибачте, але запрошувану сторінку не знайдено.
    a.btn.btn-primary(href="/") Повернутися на головну